In [1]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Crearting a Dataframe from the lists

In [2]:
# Some lists of countries, driving side, and cars per capita
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [3]:
# Create dictionary my_dict with three key: value pairs: my_dict
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}

In [4]:
# Create a dataframe cars from the above dictionary
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [5]:
# Set row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [6]:
# Import csv data
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)

# Fix import by incuding index_col

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

#### Play with brics

In [7]:
# Load brics countries
bric = pd.read_csv('brics.csv', index_col = 0)

# Check the data out
print(bric)

                 country    capital    area  population
country_ab
BR                Brazil   Brasilia   8.516      200.40
RU                Russia     Moscow  17.100      143.50
IN                 India  New Delhi   3.286     1252.00
CH                 China    Beijing   9.597     1357.00
SA          South Africa   Pretoria   1.221       52.98

In [8]:
# Column access
bric['country']
type(bric['country'])

pandas.core.series.Series

In [9]:
# Notice the difference betweeen these two
bric[['country']]
type(bric[['country']])

pandas.core.frame.DataFrame

### Still working on cars

In [11]:
cars

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

In [12]:
# Print out country column as Pandas Series
print(cars['country'])

country_ab
US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [13]:
# Print out country column as Pandas DataFrame
print(cars
    [['country']])

                  country
country_ab
US          United States
AUS             Australia
JAP                 Japan
IN                  India
RU                 Russia
MOR               Morocco
EG                  Egypt

In [14]:
# Print out DataFrame wth country and drives_right columns
print(cars[['country', 'drives_right']])

                  country  drives_right
country_ab
US          United States          True
AUS             Australia         False
JAP                 Japan         False
IN                  India         False
RU                 Russia          True
MOR               Morocco          True
EG                  Egypt          True

In [15]:
# Print out first 3 observations
cars[0:3]

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False

In [16]:
# Print out fourth, fifth, and sixth observation
print(cars[3:6])

            cars_per_cap  country  drives_right
country_ab
IN                    18    India         False
RU                   200   Russia          True
MOR                   70  Morocco          True

#### Working with loc and iloc

In [17]:
# Print our observations for Japan
print(cars.loc['JAP'])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [18]:
# Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])

            cars_per_cap    country  drives_right
country_ab
AUS                  731  Australia         False
EG                    45      Egypt          True

In [19]:

cars

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

In [20]:
# Playing with iloc
print(cars.iloc[[4, 2]])

            cars_per_cap country  drives_right
country_ab
RU                   200  Russia          True
JAP                  588   Japan         False

In [21]:
print(cars.loc[['IN', 'EG']])

            cars_per_cap country  drives_right
country_ab
IN                    18   India         False
EG                    45   Egypt          True

In [22]:
# Print out drives_right value of Morocco
print(cars.loc['MOR', 'drives_right'])

True

In [23]:
# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

            country  drives_right
country_ab
RU           Russia          True
MOR         Morocco          True

In [24]:
# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])

country_ab
US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [25]:
cars

# Print out drives_right column as DataFrame
print(cars.iloc[:,2])

country_ab
US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [26]:
cars
# Print out cars_per_cap and drives_right as DataFrame
print(cars.iloc[:,[0,2]])

            cars_per_cap  drives_right
country_ab
US                   809          True
AUS                  731         False
JAP                  588         False
IN                    18         False
RU                   200          True
MOR                   70          True
EG                    45          True

In [28]:
# Print out  cars_per_cap and drives_right as DataFram
print(cars.loc[:,['cars_per_cap', 'drives_right']])

            cars_per_cap  drives_right
country_ab
US                   809          True
AUS                  731         False
JAP                  588         False
IN                    18         False
RU                   200          True
MOR                   70          True
EG                    45          True