### Equality

In [1]:
# Some random codes for playing

"intermediate" != 'python'
True == False
"Python" == "python"

False

#### When wirtten in a script, it needs to be wrapped in a print()

## Some practice

In [2]:
# Comparison of booleans

True == False

False

In [3]:
# Comparison
x =-3 * 6
y = "test"

# Compare
print(x >= -10)
print(True > False)

False
True

### Compare Arrays

In [4]:
# Construct arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house >= 18)

# my_house less than your_house
print(my_house <= your_house)

[ True  True False False]
[False  True  True False]

### Boolean Operators

# and -- or -- not

##### These are the operators.

In [5]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

In [6]:
# my_kitchen bigger than 10 and smaller than 18
print(my_kitchen > 10 and my_kitchen < 18)

# my_kitchen smaller than 14 or bigger than 17
print(my_kitchen <14 or my_kitchen > 17)

False
True

In [7]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

### Boolean Operators with Numpy

##### In order for operators to work in numpy arrays, we need different codes. *np_logical_and()* - *np_logical_or()* - *np_logical_not()*

In [10]:
# Create numpy arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [13]:
# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5,
             my_house <10))

[False  True False  True]

In [14]:
# both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False False False  True]

#### If, elif, else

In [15]:
# Some exercise with if and else statements

area = 10.0
if (area < 9):
    print("small")

elif (area <12): 
    print("medium")
    
else:
    print("large")

medium

# If

In [22]:
# Define variables
room = "kit"
area = 16.0

# If statement for room
if room == "kit":
    print("looking around in the kitchen.")
    
if (area > 15):
    print("big place")

looking around in the kitchen.
big place

## Add else

In [23]:
# If else statement for room
if room == "kit":
    print("looking around in the kitchen.")
else:
    print("looking around elsewhere.")
    
# If else statement for area
if area > 15:
    print("big place!")
else:
    print("pretty small!")

looking around in the kitchen.
big place!

### Customize further with elif

In [25]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else 
if room == "kit":
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else:
    print("looking around elsewhere.")
    
# if-elif-else for area
if area > 15:
    print("big place!")
elif area > 10:
    print("medium size, nice!")
else:
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

## Filtering pandas DataFrames

In [29]:
import pandas as pd

# Import cars data
cars = pd.read_csv("cars.csv", index_col = 0)
cars

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

In [33]:
# Extract drives_right column as series: dr
dr = cars['drives_right']

# Use dr to subset cars: sel
sel = cars[dr]

# Print sel
print(sel)

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

In [34]:
# Another way of doing it
sel = cars[cars['drives_right']]
print(sel)

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

### Cars per capita

In [36]:
# Create car_maniac : observations that have cars_per_cap over 500
car_maniac = cars[cars['cars_per_cap'] > 500]
print(car_maniac)

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False

In [40]:
# create medium: observation with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc>100, cpc<500)
medium = cars[between]
print(medium)

            cars_per_cap country  drives_right
country_ab
RU                   200  Russia          True

In [42]:
# Some extra exercises

# Check out cars data first of all
cars

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

In [52]:
# Countries that have cpc 100 and 300
cp = cars['cars_per_cap']
range = np.logical_and(cp < 100, cp > 2)
ca = cars[range]
ca

            cars_per_cap  country  drives_right
country_ab
IN                    18    India         False
MOR                   70  Morocco          True
EG                    45    Egypt          True